.col-sm-4 {
    padding-top: 25px;
}

.jumbotron {
  width: 100%;
  text-align: center;
  background-color: #fff;
}

img {
    transition: .5s;
    filter: grayscale(1.0);
}

img:hover {
    transition: 1s;
    transform: scale(1.1);
    filter: grayscale(0.0);
}

.descricao {
  padding-left: 130px;
}

.itens {
    padding-bottom: 50px;
}
